/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.markdown-preview ul,
.markdown-preview ol {
  list-style-position: inside;
}

/* 페이지 전체 css */
input,
textarea {
  border: 0;
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color: #666;
}
input:focus,
textarea:focus {
  border-color: #888888;
}

/* 헤더 */
header * {
  font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 12px;
  box-sizing: border-box;
  background: #fff;
  z-index: 1000;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header .logo {
  margin: 0;
}

.header .logo a {
  display: block;
}

.header .nav {
  display: flex;
  gap: 48px;
  margin: 0;
  padding-left: 48px;
  list-style: none;
}

.header .nav li a {
  font-size: 20px;
  font-weight: 700;
  color: #222;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header .nav li a:hover {
  color: #ff8000;
}

/* select 커스텀 */
.select-wrapper {
  display: flex;
  gap: 12px;
  margin-top: 30px;
  padding: 0 24px;
  box-sizing: border-box;
}

.select-box {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23ccc" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 25px;
  box-sizing: border-box;
  transition: all 0.1s ease;
}

.select-box:hover {
  border-color: #ff962c;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23ff962c" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
}

.select-box:focus {
  outline: none;
  border-color: #ff962c;
  box-shadow: 0 0 0 2px rgba(255, 150, 44, 0.4);
}

/* 메인 컨텐츠 */
main {
  max-width: 1440px;
  margin: 0 auto;
}

.editor-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 24px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.title {
  width: 100%;
  padding: 12px 16px;
  font-size: 18px;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.editor-body {
  display: flex;
  gap: 24px;
}

.text-field,
.markdown-preview {
  flex: 1;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 16px;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

.markdown-preview p {
  margin-bottom: 0.3em;
}

#markdown-preview {
  white-space: pre-wrap;
}

.text-field {
  resize: none;
  font-family: inherit;
}

.markdown-preview {
  background-color: #fdfdfd;
  overflow-y: auto;
}

/* aside 바 */
.footer-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.footer-inner {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
}

.footer-btn_wrap {
  display: flex;
  gap: 12px;
}

.footer-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.footer-btn.save {
  background-color: #f1f1f1;
  color: #333;
  transition: background-color 0.2s;
}

.footer-btn.save:hover {
  background-color: #d9d9d9;
}

.footer-btn.complete {
  background-color: #ff962c;
  color: #fff;
  transition: background-color 0.2s;
}

.footer-btn.complete:hover {
  background-color: #ff8400;
}

